@font-face {
  font-family: 'Erewhon';
  font-style: normal;
  font-weight: normal;
  src: local('Erewhon'), url(/fonts/Erewhon-Regular.woff) format('woff'), serif;
}
@font-face {
  font-family: 'Erewhon';
  font-style: normal;
  font-weight: bold;
  src: local('Erewhon Bold'), url(/fonts/Erewhon-Bold.woff) format('woff'), serif;
}
@font-face {
  font-family: 'Erewhon';
  font-style: italic;
  font-weight: normal;
  src: local('Erewhon Italic'), url(/fonts/Erewhon-Italic.woff) format('woff'), serif;
}
@font-face {
  font-family: 'Erewhon';
  font-style: italic;
  font-weight: bold;
  src: local('Erewhon Bold Italic'), url(/fonts/Erewhon-BoldItalic.woff) format('woff'), serif;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: local('Lato'), url(/fonts/Lato-Regular.woff) format('woff'), sans-serif;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  src: local('Lato Semibold'), url(https://dl.dropboxusercontent.com/u/24653887/fonts/kh/Lato-Semibold.woff) format('woff'), sans-serif;
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: normal;
  src: local('Lato Italic'), url(https://dl.dropboxusercontent.com/u/24653887/fonts/kh/Lato-Italic.woff) format('woff'), sans-serif;
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: bold;
  src: local('Lato Semibold Italic'), url(https://dl.dropboxusercontent.com/u/24653887/fonts/kh/Lato-SemiboldItalic.woff) format('woff'), sans-serif;
}
