@font-face { font-family: 'Lucida Grande'; src: local('Open Sans') ;}
@font-face { font-family: 'Lucida Grande'; font-weight:bold; src: local('Open Sans Bold') ;}
@font-face { font-family: 'Lucida Grande'; font-style: italic; src: local('Open Sans Italic') ;}
@font-face { font-family: 'Lucida Grande'; font-weight:bold; font-style:italic; src: local('Open Sans Bold Italic') ;}